<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/carecon-logo.webp" alt="" width="80" height="70">
    </a>
    <div class="d-flex" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home-page" routerLinkActive="active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/shop-page" [state]="shopProducts">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart-page" href="#">Cart</a>
        </li>
      </ul>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>
