<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/carecon-logo.webp" alt="" width="80" height="70">
    </a>
    <div class="d-flex" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
        </li>
      </ul>
      </div>
    </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="assets/carekit-background.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/carekit-basic-background.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="assets/carekit-standard-background.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="w-100 pt-5 pb-5 text-center">
    <button type="button" class="btn btn-outline-dark btn-lg fw-bolder border-3" (click)="shopNow()">Shop Now</button>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col" style="cursor: pointer;" (click)="shopNowByCategory('SkinCare')">
      <img src="assets/skin-care-category.webp" class="rounded" width="350" height="230"/>
      <div style="margin-top: -60px; font-weight: 450;" class="ms-4 fs-3 text-white">Skin Care</div>
    </div>
    <div class="col" style="cursor: pointer;" (click)="shopNowByCategory('SunCare')">
      <img src="assets/sun-care-category.webp" class="rounded" width="350" height="230"/>
      <div style="margin-top: -60px; font-weight: 450;" class="ms-4 fs-3 text-white">Sun Care</div>
    </div>
    <div class="col" style="cursor: pointer;" (click)="shopNowByCategory('BodyCare')">
      <img src="assets/body-care-category.webp" class="rounded" width="350" height="230"/>
      <div style="margin-top: -60px; font-weight: 450;" class="ms-4 fs-3 text-white">Body Care</div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col" style="cursor: pointer;" (click)="shopNowByCategory('HairCare')">
      <img src="assets/hair-care-category.webp" class="rounded" width="350" height="230"/>
      <div style="margin-top: -60px; font-weight: 450;" class="ms-4 fs-3 text-white">Hair Care</div>
    </div>
    <div class="col" style="cursor: pointer;" (click)="shopNowByCategory('Perfume')">
      <img src="assets/perfume-category.webp" class="rounded" width="350" height="230"/>
      <div style="margin-top: -60px; font-weight: 450;" class="ms-4 fs-3 text-white">Perfume</div>
    </div>
    <div class="col" style="cursor: pointer;" (click)="shopNowByCategory('Accessories')">
      <img src="assets/accessories-category.webp" class="rounded" width="350" height="230"/>
      <div style="margin-top: -60px; font-weight: 450;" class="ms-4 fs-3 text-white">Accessories</div>
    </div>
    <div class="col"></div>
  </div>
</div>

<div style="background-color: transparent; background-image: linear-gradient(180deg, #E0BFB81A 0%, #FFFFFF 48%);"
class="mt-5 p-4 text-center">
  <h3>Featured Products</h3>
  <div class="container pt-4">
    <div class="row">
      <app-product-view class="col-4" *ngFor="let p of this.featuredProducts" [product]="p"></app-product-view>
    </div>
  </div>
</div>

<div class="container">
  <div class="w-100 pt-5 pb-5 text-center">
    <button type="button" class="btn btn-outline-dark btn-lg fw-bolder border-3" (click)="shopNow()">Shop Now</button>
  </div>
  <div class="text-secondary fw-bolder text-center mt-3">STAY UP-TO-DATE</div>
  <h3 class="text-center mt-2">Follow Us On Social Media</h3>
  <div class="row">
    <div class="col"></div>
    <div class="col-8 text-secondary text-center mt-2" style="width: 600px;">
      Follow our page on social media platforms to get informed about new products, new services and benefit from exclusive offers for our followers
    </div>
    <div class="col"></div>
  </div>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col text-center" style="cursor: pointer;"><img (click)="instagram()" src="assets/instagram-icon.png" width="90" height="78"/></div>
    <div class="col text-center" style="cursor: pointer;"><img (click)="facebook()" src="assets/facebook-icon.png" width="90" height="78"/></div>
    <div class="col text-center" style="cursor: pointer;"><img (click)="whatsapp()" src="assets/whatsapp-icon.png" width="90" height="78"/></div>
    <div class="col text-center" style="cursor: pointer;"><img (click)="tiktok()" src="assets/tiktok-icon.png" width="90" height="78"/></div>
    <div class="col-2"></div>
  </div>
</div>

<router-outlet></router-outlet>
